{{> includes/header}}

<p><a href="/">Go home</a></p>
<p><a href="/car/show?showDeleted=true">Show all cars</a></p>
<p><a href="/car/show?showDeleted=false">Show only valid</a></p>


<h1>All car</h1>
{{#vehicle}}
    <p>
        {{email}}, {{make}}, {{deleted}}, {{registrationTime}}<br>
        <a href="/car/update/{{id}}">Update</a>
        <a href="/car/delete/{{id}}">Delete</a>
        <a href="/car/permanent-delete/{{id}}">Permanent Delete</a>
    </p>
{{/vehicle}}

<p>{{message}}</p>

{{> includes/footer}}